@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

body {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #8172A2;
}

.container {
    max-width: 1235px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 29px 22px 23px;
    /* border: 1px solid #000; */
}
.logo {
}
.navigation {
}
.list {
    display: flex;
    align-items: center;
}

.list__item,
button {
    font-size: 16px;
    line-height: 19px;
    color: #8D867C;
}

.list__item:not(:last-child) {
    margin-right: 50px;
}

.list__item:nth-child(1) {
    color: #49464F;
}

.list__item:nth-child(4) {
    margin-right: 44px;
}
.item__link {
    color: inherit;
}

.item__link span{
    color: #49464F;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    background-color: #7140EB;
    color: #FBF7F3;
    border-radius: 9999px;
}

.subscribe {
    background-image: url('../images/bc/header-bc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 83px 0 78px;
    text-align: center;
    color: #FBF7F3;
}
.container {
}
.banner__title {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 2.7px;
    margin-bottom: 17px;
}
.banner__text {
    max-width: 380px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
}

.tagline {
    background-image: url(../images/bc/header-photo.jpg);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 81px 52px 571px;
    text-align: right;
    color: #FBF7F3;
}
.tagline__title {
    font-size: 93px;
    line-height: 112px;
    letter-spacing: 5.625px;
    margin-bottom: 8px;
}
.tagline__text {
    font-size: 29px;
    line-height: 28px;
}
/* -=----------------------- */

.benefits {
}
.container {
}
.benefits__inner {
    display: flex;
}
.benefits__content {
    padding-top: 244px;
    padding-left: 60px;
    margin-right: 15px;
}
.benefits__title {
    max-width: 440px;
    margin-bottom: 35px;
}
.title {
    font-size: 82px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;
}
.benefits__text {
    max-width: 330px;
    max-height: 138px;
    color: #8172A2;
    text-align: center;
}
.benefits__img {
    padding-right: 14px;
}
.sub__benefits {
    padding-top: 225px;
}
.benefits__sub-title {
    margin-top: 105px;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
    color: #49464F;
}
.benefits__list {
}
.benefits__item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}
/* ============================ */
.built {
    text-align: center;
    margin-bottom: 45px;
}
.built__title {
    margin-bottom: 22px;
}
.title {
}
.built__text {
}
/* =========================== */
.characteristics {
    display: flex;
    padding-bottom: 163px;
}
.container {
}
.characteristics__list {
    display: flex;
    /* justify-content: center; */
}
.characteristics__item:not(:last-child) {
    margin-right: 126px;
}
.characteristics__title {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 36px;
    color: #2E2C34;
}
.characteristics__img {
    margin-bottom: 11px;
}
.characteristics__text {
    color: #49464F;
    text-align: left;
}

.tel__img {
    height: 100%;
    background-image: url('../images/bike/mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ======================== */

.stay {
    background-image: url(/images/bc/stand-bc.jpg);
    background: no-repeat cover center;
    padding-top: 188px;
    padding-left: 70px;
    padding-bottom: 77px;
}


.stay__title {
    margin-bottom: 39px;
    letter-spacing: 2.7px;
}
.title {
}
.stay__text {
    max-width: 310px;
    margin-bottom: 175px;
}
.stay__list {
    display: flex;
}
.stay__item {
    max-width: 296px;
    margin-right: 64px;
}
.stay__img {
    margin-bottom: 77px;
}
.stay__item-text {
    font-size: 23px;
    line-height: 27px;
    color:#49464F;
}
/* ====================== */

.movement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 165px;
}
.movement__img {
}
.movement__container {
    max-width: 510px;
    color: #49464F;

}
.movement__title {
    font-size: 71px;
    line-height: 81px;
    letter-spacing: 2.7px;
    text-align: center;
    margin-bottom: 34px;
}
.movement__text {
    font-size: 19px;
    line-height: 22px;
    text-align: center;
}



